@mixin until($breakpoint: 767px) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin thumb-styles {
  appearance: none;
  height: var(--gap-double);
  width: var(--gap-double);
  border: 1px solid var(--color-skin-dark);
  border-radius: var(--radius);
  background: var(--color-skin-mid-light);
}

:root {
  --color-white: #e8e8e8;
  --color-black: #000;
  --color-black-light: #222;
  --color-grey: #747474;
  --color-silver: #ccc;
  --color-blue-light: #0ce;
  --color-blue: #068;
  --color-skin-dark: #272625;
  --color-skin-mid-dark: #707c52;
  --color-skin-mid: #b1d08e;
  --color-skin-mid-light: #f8d58a;
  --color-skin-light: #ffe3a6;

  --color-yellow: #ec2;
  --color-red: #c22;
  --color-red-light: #f4aa8c;

  --color-black-light-semi: #222c;
  --color-skin-dark-semi: #27262580;
  --color-yellow-semi: #fd28;

  --gradient-dark: linear-gradient(
    var(--color-black),
    var(--color-black-light-semi)
  );

  --gap: 0.75rem;
  --gap-half: calc(var(--gap) / 2);
  --gap-double: calc(var(--gap) * 2);
  --gap-neg-small: -0.1rem;

  --menu-width: 16rem;
  --input-height: 1.8rem;

  --radius: 0.2rem;

  --font-size-s: 0.5rem;
  --font-size-m: 0.8rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.2rem;
}

.theme {
  --bg: var(--color-skin-dark);
  --bg-input: var(--color-skin-mid);
  --bg-input-active: var(--color-skin-mid-light);
  --gradient-dolce: linear-gradient(
    to bottom,
    var(--color-skin-mid),
    var(--color-skin-mid-dark)
  );
}

.theme-cognizant {
  --color-skin-dark: #000048;
  --color-skin-mid-dark: #05819b;
  --color-skin-mid: #06c7cc;
  --color-skin-mid-light: #26efe9;
  --color-skin-light: #46ffff;
  --font-family: "Gellix", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @include until {
    font-size: 14px;
  }
  overflow: hidden;
  scrollbar-width: var(--gap-half);
  scrollbar-color: var(--color-skin-mid-dark) var(--color-skin-dark);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas,
video {
  position: absolute;
  left: 0;
  top: 0;
}

button {
  margin: 0;
  background-color: var(--bg-input);
  color: var(--color-skin-dark);
  border: none;
  border-radius: 2rem;
  font-size: var(--font-size-m);
  &.splash-button {
    margin: 0 var(--gap);
    padding: var(--gap) var(--gap-double);
    font-size: var(--font-size-xl);
    font-weight: bold;
    background-color: var(--color-skin-mid-light);
    &:hover {
      background-color: var(--color-skin-light);
    }
  }
  &.video-button {
    background-color: var(--color-blue-light);
    &:hover {
      background-color: var(--color-blue);
    }
    &.pause-button {
      position: fixed;
      bottom: 10rem;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }
  }
  &.cancel {
    background: var(--color-red-light);
  }
}

input {
  border-radius: var(--radius);
  background: transparent;
  border: 1px solid var(--color-skin-mid);
  padding: var(--gap-half);
  color: var(--color-skin-mid);
  &[type="range"] {
    appearance: none;
    height: var(--gap-half);
    margin-top: var(--gap-half);
    background: var(--color-skin-mid-dark);
    border: none;
    padding: 0;
    .control:hover & {
      background: var(--color-skin-mid-light);
    }
    &::-webkit-slider-thumb {
      @include thumb-styles;
    }
    &::-moz-range-thumb {
      @include thumb-styles;
    }
  }
  &[type="color"] {
    appearance: none;
    border-radius: var(--radius);
    padding: 0;
  }
}

select {
  padding: var(--gap-half);
  border-radius: var(--radius);
  background: var(--bg-input);
  height: var(--input-height);
  border: none;
  font-size: var(--font-size-m);
  text-transform: capitalize;
}

input,
select,
button {
  font-family: var(--font-family);
}

select,
button {
  &:hover {
    background-color: var(--color-skin-mid-light);
  }
}

input[type="url"] {
  &:hover,
  &:active {
    border-color: var(--color-skin-light);
  }
}

input[type="checkbox"] {
  display: none;

  & + label {
    display: flex;
    align-items: center;

    &:before {
      flex-shrink: 0;
      margin-right: 0.3rem;
      content: "";
      width: var(--gap);
      height: var(--gap);
      border-radius: var(--radius);
      border: 1px solid var(--color-skin-mid);
    }

    &:hover:before {
      border-color: var(--color-skin-light);
    }
  }

  &:checked {
    & + label:before {
      background-color: var(--color-skin-light);
      content: "✔️";
      color: var(--color-black);
      font-size: 0.6rem;
      line-height: 0.8rem;
      text-align: center;
    }
  }
}

fieldset {
  display: contents;
  border: none;
  padding: var(--gap-half) 0;
}

legend {
  grid-column: span 12;
  font-size: var(--font-size-m);
}

ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}

#root {
  display: flex;
  height: 100vh;
}

.controls {
  @include until {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    padding-bottom: 5rem;
    background: var(--color-skin-dark);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--menu-width);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--gap);
  background: var(--color-skin-dark);
  color: var(--color-silver);
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: var(--gap);
  grid-auto-rows: max-content;
  @include until {
    width: auto;
    height: auto;
    position: relative;
  }

  &.secondary {
    left: auto;
    right: 0;
    grid-auto-rows: max-content;
  }

  button.active {
    background-color: var(--bg-input-active);
  }

  p {
    grid-column: span 12;
  }
}

.patterns {
  button {
    font-size: 1rem;
  }
}

.control {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  grid-column: span 6;
  border: none;
  padding: 0;
  margin: 0 0 var(--gap-half);
  font-size: var(--font-size-m);
  &.checkbox {
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    margin: 0;
    @include until {
      grid-column: span 4;
    }
  }
  &.color {
    width: 1rem;
    grid-column: span 3;
    @include until {
      grid-column: span 2;
    }
  }
  &.range {
    min-width: 0;
    @include until {
      grid-column: span 4;
    }
  }
  &.select {
    select {
      width: 100%;
    }
    @include until {
      grid-column: span 4;
    }
  }
  &.imageUrl,
  &.text {
    grid-column: span 12;
  }
  &.button {
    height: 2rem;
    align-items: center;
    margin: 0;
    @include until {
      grid-column: span 4;
      align-self: flex-end;
      padding: 0.5rem 0;
    }
  }
}

[title]:hover::after {
  content: attr(title);
  font-size: var(--font-size-m);
  text-align: left;
  position: fixed;
  padding: var(--gap);
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: var(--menu-width);
  color: var(--color-skin-light);
  background: var(--color-skin-dark);
  font-family: "Figtree", sans-serif;
}

label {
  margin-bottom: var(--gap-half);
  [type="range"] + & {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  [type="checkbox"] + & {
    margin: 0;
  }
  [type="color"] + & {
    margin: 0.4rem 0 0.2rem;
  }
  .value {
    color: var(--color-skin-light);
  }
  .control:hover & {
    color: var(--color-skin-light);
  }
}

.wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  &.not-started {
    background: var(--color-black-light);
  }
}

.splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-skin-mid-dark);
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--color-skin-light);

  @keyframes gesture-icon {
    0% {
      left: -80%;
      top: -10%;
      transform: scale(1.5);
      filter: drop-shadow(0.5rem 1rem 1rem var(--color-skin-dark));
    }
    40% {
      top: 80%;
      left: 0;
      transform: scale(1);
    }
    75% {
      filter: none;
    }
    100% {
      top: 80%;
      left: 103%;
    }
  }

  @keyframes gesture-line {
    0%,
    40% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  h1 {
    margin: 0;
    font-size: 2rem;
    position: relative;
    &:before {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2rem;
      top: 100%;
      background: var(--color-skin-mid);
      @media (prefers-reduced-motion: no-preference) {
        animation: gesture-line 1.7s ease-in-out forwards;
      }
    }
    &:after {
      display: block;
      content: "";
      background: url(../app/assets/img/machevuoi.png) no-repeat 0 0;
      background-size: contain;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 80%;
      left: 103%;
      transform: translate(-0.4rem, -0.2rem);
      @media (prefers-reduced-motion: no-preference) {
        animation: gesture-icon 1.7s ease-in-out forwards;
      }
    }
  }

  .slogan {
    text-align: center;
    line-height: 1.4;
    font-weight: normal;
    overflow: hidden;
    margin-top: var(--gap);
  }

  .pro-tips {
    max-width: calc(100vw - 2 * var(--menu-width) - 2 * var(--gap));
    background: var(--color-skin-dark-semi);
    padding: var(--gap-double);
    border-radius: 0.5rem;
    p {
      margin: var(--gap) 0;
    }
    li {
      margin: var(--gap-half) 0;
    }
    strong {
      position: relative;
      display: inline-block;
      padding: 0.2rem 0.4rem;
      font-weight: normal;
      &:before {
        display: block;
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--color-skin-dark);
        border: 1px solid var(--color-skin-light);
        border-radius: 0.3rem;
      }
    }
    @include until {
      max-width: calc(100vw - 2 * var(--gap));
    }
  }
}

.svg-drawing {
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
}

.scratch-svg {
  grid-column: span 12;
  transition: all 0.2s ease-in-out;
  background: url(../app/assets/img/hand-model.svg) no-repeat 0 0;
  background-size: 100%;
}

.scratch-layer {
  grid-column: span 12;
}

.scratch-wrap {
  grid-column: span 12;
  display: grid;
  grid-template-columns: inherit;
  grid-gap: inherit;
  background: color-mix(
    in lch,
    var(--color-skin-mid) 20%,
    var(--color-skin-dark)
  );
  margin: 0 -1rem;
  padding: var(--gap-half);
  @include until {
    padding: var(--gap);
  }
}

.icon-button {
  grid-column: span 2;
  border-radius: var(--radius);
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &:first-child {
    grid-column: 1 / span 2;
  }

  $shapes: arcs, circles, curves, diamonds, dots, ellipses, lines, rectangles,
    rhomboids, squares, triangles;

  @each $shape in $shapes {
    &.#{$shape} {
      background-image: url("./assets/img/icons/#{$shape}.svg");
    }
  }
}

.scratch-dot {
  fill: color-mix(
    in lch,
    var(--color-skin-mid-dark) 40%,
    var(--color-skin-mid)
  );
  &.selected {
    fill: var(--color-skin-mid-light);
  }
  .active-dots & {
    &:hover {
      fill: var(--color-red-light);
    }
  }
  .active-shapes & {
    &:hover {
      stroke-width: 2px;
      stroke: var(--color-skin-light);
    }
  }
}

.scratch-path {
  fill: none;
  stroke-width: 0.3rem;
  stroke: var(--color-skin-mid-light);
  &:hover {
    stroke: var(--color-red-light);
  }
  &.preview {
    fill: none;
    stroke: var(--color-skin-mid);
  }
  &.control-path {
    stroke-width: 2px;
    stroke-dasharray: 5;
  }
}

.scratch-info {
  padding: 0 var(--gap);
  font-size: var(--font-size-m);
  color: var(--color-skin-mid-light);
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 20rem;
  text-align: center;
  background: var(--color-skin-light);
  border: 2px solid var(--color-skin-mid);
  color: var(--color-skin-dark);
  padding: var(--gap);
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 0.4rem;
    transform: translate(50%, -50%);
    font-size: 1rem;
  }
}

pre {
  position: absolute;
  left: var(--menu-width);
  top: 0;
  width: var(--menu-width);
  height: 100vh;
  background: var(--color-skin-mid);
  overflow-y: auto;
  font-size: 0.7rem;
}

.info {
  position: fixed;
  left: var(--menu-width);
  right: var(--menu-width);
  bottom: 0;
  font-size: var(--font-size-m);
  background: var(--color-skin-dark);
  color: var(--color-silver);
  padding: var(--gap-half);
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  p {
    margin: var(--gap-half) 0;
  }
  @include until {
    display: none;
  }
}

.mini-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  width: var(--menu-width);
  background: var(--color-skin-dark);
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gap);
  padding: var(--gap);
  @include until {
    width: 100vw;
    box-shadow: 0 0.2rem 1rem var(--color-skin-mid);
  }
  button {
    grid-column: span 6;
  }
}

@keyframes spin {
  to {
    stroke-dashoffset: 0;
  }
}

.loader {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-circle {
  fill: none;
  stroke-width: 0.2rem;
  stroke: #272625;
  stroke-linecap: round;
  animation: spin 2s linear infinite;
  stroke-dasharray: 60;
  stroke-dashoffset: 120;
}

.links {
  a {
    display: inline-block;
    margin: 0 var(--gap-double);
  }
}

.piano {
  grid-column: span 12;
  width: 100%;

  .tone {
    stroke: var(--color-skin-dark);
    stroke-width: 1px;

    &.white {
      fill: var(--color-skin-mid-dark);
    }

    &.black {
      fill: var(--color-skin-dark);
    }

    &.selected {
      fill: var(--color-skin-mid-light);
    }

    &:hover {
      fill: var(--color-skin-light);
    }
  }
}
